<p>This site was built in response to the overuse of the <a href="http://www.opensource.org/licenses/category">Open Source Initiative's license pages</a> by many open-source projects and hosts (including <a href="http://code.google.com">Google Code</a>). While I think the OSI are cool and have no personal/professional beefs with them, their license pages contain <strong>a lot</strong> of erroneous extra info (comments, layout, links, etc.) if all you want to do is <strong>read a license</strong>.</p>

<p>This site was created as a simple way to have a permanent URL for your license text (without having to be responsible for that URL <em>forever</em>).</p>

<p>This site also gives you the ability to <strong>embed your own info into the license text</strong> so the license people read actually reflects your project, instead of just being a generic license with placeholder text.</p>

<p>A license being available on this site <strong>does not</strong> mean it's OSI-approved — check out the <a href="http://www.opensource.org/licenses/category">OSI's list of licenses by category</a> for all licenses that are OSI-approved. Licenses are on this site if they encompass the spirit of open-source (i.e. you can distribute and edit the source code).</p>

<h2>Site Technology</h2>

<p>This site was built in <a href="http://php.net">PHP</a>, using the <a href="http://codeigniter.com">CodeIgniter PHP Framework</a>. The source is managed with <a href="http://git-scm.com/">git</a> and is hosted on <a href="http://github.com/">GitHub</a>.</p>

<h2>License</h2>

<p>This site's code &amp; content is <a href="<?php echo site_url('license/bsd?author=Matthew+Riley+MacPherson&amp;organization=The+Lonely+Web&amp;year=2009') ?>">licensed under a New BSD-style license</a>; the <a href="http://github.com/tofumatt/FOSS-Pass">source code is available on GitHub</a>.</p>